#categorybookcontainer {
  width: 95%;
  margin: auto;
}

#categorybookcontainer h3 {
  color: darkblue;
  margin: 30px;
}

#bookcontainer {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-height: 980px;
  overflow-y: auto;
}
