* {
  color: brown;
}

/* rent requests */
#rentreq_container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  background-color: aliceblue;
  flex-wrap: wrap;
}

#rentreq_card {
  background-color: antiquewhite;
  font-size: large;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px orange;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rentreq_card button {
  padding: 3px;
  margin: 20px;
  color: green;
}

/* notifications */
#notification_container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  background-color: aliceblue;
  flex-wrap: wrap;
}

#notify_card {
  width: 70%;
  background-color: antiquewhite;
  /* font-size: large; */
  font-weight: 500;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

#notify_card p {
  color: rgb(0, 0, 0);
}

/* Rents */
#rent_container {
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: aliceblue;
}

#rent_container h2 {
  margin: auto;
}

.rent_card {
  width: 90%;
  min-width: 600px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
}

#rent_card p {
  color: rgb(0, 0, 0);
}
